/*selector {
	property: value;
}*/


body {
      background-image: url(images.png);
      background-size: cover;
      font-family: 'Mouse Memoirs', sans-serif;
      font-size: 100%;
      

}    

h1,div :hover {
	text-align: center;
    border: 5px solid black;
    cursor: pointer;

}

a {
	text-decoration: none;
} 

img:hover {
	  transition: all in 1s;
	  transform: scale(1.1);
      margin: 0px;
}





